services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY:-rajay04}/kaleidoscope:backend-${APP_VERSION:-latest}
    container_name: ${APP_CONTAINER_NAME:-kaleidoscope-app}
    depends_on:
      logstash:
        condition: service_started
    env_file:
      - .env
    environment:
      # This points the app's logging to the logstash container
      - LOGSTASH_HOST=localhost
    ports:
      - "${APP_PORT:-8080}:8080"
    network_mode: "host"
    restart: unless-stopped

  logstash:
    image: docker.elastic.co/logstash/logstash:8.11.0
    container_name: kaleidoscope-logstash
    network_mode: "host"
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    environment:
      - ELASTICSEARCH_HOSTS=${CONTAINER_ES_HOST}
      - ELASTICSEARCH_USERNAME=${KIBANA_ES_USER}
      - ELASTICSEARCH_PASSWORD=${KIBANA_ES_PASS}
      - "xpack.monitoring.enabled=false"
      - "LS_JAVA_OPTS=-Xms256m -Xmx256m"
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: kaleidoscope-kibana
    ports:
      - "5601:5601"
    network_mode: "host"
    environment:
      - ELASTICSEARCH_HOSTS=${CONTAINER_ES_HOST}
      - ELASTICSEARCH_USERNAME=${KIBANA_ES_USER}
      - ELASTICSEARCH_PASSWORD=${KIBANA_ES_PASS}
      - SERVER_HOST=0.0.0.0
      - SERVER_NAME=kaleidoscope-kibana
      - XPACK_SECURITY_ENABLED=true
      - XPACK_REPORTING_ENCRYPTIONKEY=a_random_32_char_encryption_key_1234567890
      - XPACK_REPORTING_KIBANASERVER_HOSTNAME=localhost
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=a_random_32_char_encryption_key_1234567890
      - XPACK_SECURITY_ENCRYPTIONKEY=a_random_32_char_encryption_key_1234567890
    depends_on:
      - logstash
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G

volumes: {}

networks:
  app-network:
    driver: bridge