# Application Configuration
spring:
  application:
    name: ${APP_NAME:kaleidoscope-backend} # Ensure APP_NAME is set in your cloud environment variables
  app:
    base-url: ${APP_BASE_URL:http://localhost:8080}
    defaults:
      cover-photo-url: https://res-console.cloudinary.com/dkadqnp9j/media_explorer_thumbnails/f9636ce5153d08babcbc7381fc4cc546/detailed
  # Database Configuration
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:kaleidoscope}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: ${DB_MAX_LIFETIME:1800000}
      connection-timeout: 30000
      pool-name: KaleidoscopeHikariCP
      auto-commit: true

  # Redis Configuration for Upstash
  data:
    redis:
      url: ${REDIS_URL:redis://localhost:6379}
      streams:
        consumer:
          poll-timeout-ms: 10000

  # Elasticsearch Configuration
  elasticsearch:
    uris: ${SPRING_ELASTICSEARCH_URIS:http://localhost:9200}
    username: ${SPRING_ELASTICSEARCH_USERNAME:elastic}
    password: ${SPRING_ELASTICSEARCH_PASSWORD:changeme123}

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        hbm2ddl:
          auto: update

  # File Upload Configuration
  servlet:
    multipart:
      enabled: true
      max-file-size: ${MAX_FILE_SIZE:10MB}
      max-request-size: ${MAX_REQUEST_SIZE:20MB}
      file-size-threshold: ${FILE_SIZE_THRESHOLD:2KB}
      resolve-lazily: true

  # Email Configuration
  mail:
    host: ${MAIL_HOST:smtp.example.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:test@example.com}
    password: ${MAIL_PASSWORD:password123}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# Server Configuration
server:
  servlet:
    context-path: ${CONTEXT_PATH:/kaleidoscope}
  forward-headers-strategy: framework

# SpringDoc OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    disable-swagger-default-url: true
    config-url: /kaleidoscope/v3/api-docs/swagger-config
    url: /kaleidoscope/v3/api-docs
  use-management-port: false
  use-root-path: false

allowed:
  origins: ${ALLOWED_ORIGINS:http://localhost:3000,http://localhost:8080}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
  cookie-max-age-days: 7

# External Services Configuration
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:test-cloud}
  api-key: ${CLOUDINARY_API_KEY:test-api-key}
  api-secret: ${CLOUDINARY_API_SECRET:test-api-secret}
  url: ${CLOUDINARY_URL:cloudinary://test-api-key:test-api-secret@test-cloud}